@import url("fonts/stylesheet.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: start;
    z-index: 1000;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    padding: 1em 0;
    z-index: 1000;
}

p{
    text-align: justify;
    text-indent: 4%;
    margin-bottom: 25px;
    font-size: clamp(18px, 1.5vw, 25px);
    margin-left: 25px;
    margin-right: 25px;
}

.disabled_button{
    display: none;
}

#contentWrapper::-webkit-scrollbar {
    width: 10px;
    z-index: -1;
}

#contentWrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 0px;
    z-index: -1;
}

#contentWrapper::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: linear-gradient(180deg, rgb(40, 142, 211), rgb(0, 114, 192));
    z-index: -1;
}

.content-wrapper {
    flex: 1;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1.2em; /* Подстраиваемся под содержимое header */
    padding-bottom: 1.2em; /* Подстраиваемся под содержимое footer */
    overflow-y: auto;
}

#content {
    padding: 1.2em;
}

.black_title{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.black_title h1{
    padding: 25px;
    color: #fff;
    font-size: clamp(20px, 1.5vw, 30px);
}

.black_title button{
    white-space: nowrap;
    background-color: black;
    height: 60px;
    font-size: clamp(15px, 0.5vw, 20px);
    color: white;
    padding: 15px 35px;
    border: solid 2px;
    border-radius: 35px;
    margin-right: 25px;
    transition: all 0.3s;
}

.black_title button:hover{
    background-color: white;
    color: black;
}

.main_footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.step_marker{
    padding-left: 25px;
    white-space: nowrap;
}

.buttons_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding-right: 25px;
}

.buttons_div button{
	height: 50px;
	width: 150px;
	margin-left: 10px;
	border: 0;
	background: rgb(0, 114, 192);
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	border-radius: 35px;
	cursor: pointer;
	transition: all 0.3s;
    margin: 2px;
}

.buttons_div button:active{
	background: rgb(40, 142, 211);
}

.text_with_img{
    width: 100%;
}

.text_with_img img{
    width: 100%;
    min-width: 500px;
}

.img_with_sgn{
    margin: 25px;
    float: left;
}

.img_with_sgn p{
    text-align: center;
    margin: 0 !important;
    margin-top: 10px !important;
}

.only_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px;
}

.only_img p{
    margin-top: 10px;
    text-indent: 0% !important;
    text-align: center;
    width: 100%;
}

.only_img img{
    width: 40%;
}

@media (max-width: 1000px) {
    #footer{
        display: flex;
        flex-direction: column;
    }

    #control_button_1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        margin-right: 25px;
    }
    
    #control_button_4{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        margin-left: 25px;
    }

    .img_with_sgn{
        margin: 0 !important;
        margin-bottom: 25px !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .img_with_sgn p{
        width: 100%;
    }

    .step_marker{
        padding-left: 0px;
        padding-bottom: 15px;
    }

    .buttons_div{
        padding-right: 0px;
        padding-top: 5px;
    }

    .text_with_img img{
        min-width: 400px;
        width: 70%;
        float: none;
    }
    
    .img_with_sgn{
        width: 100%;
    }
    
    .only_img img{
        width: 80%;
    }
}

@media (max-width: 650px) {
    footer{
        padding: 1px;
    }

    .step_marker{
        display: none;
    }

    .buttons_div button{
        height: 50px;
        width: 50px;
    }
    .text_with_img img{
        min-width: 300px !important;
        width: 70% !important;
    }
    .only_img img{
        min-width: 300px !important;
        width: 70% !important;
    }
}