@import url("fonts/stylesheet.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

input:-internal-autofill-selected{
    appearance: menulist-button;
    background-image: none !important;
    background-color: light-dark(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) !important;
    color: rgba(255, 255, 255, 0) !important;
}

body, html {
    touch-action: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: start;
    z-index: 500;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.772);
    color: black;
    text-align: center;
    padding: 0.55em 0;
    z-index: 500;
}

p{
    text-align: justify;
    text-indent: 4%;
    margin-bottom: 25px;
    font-size: clamp(18px, 1.5vw, 25px);
    margin-left: 25px;
    margin-right: 25px;
}

.hidden, .disabled{
    display: none;
}

#contentWrapper::-webkit-scrollbar {
    width: 10px;
    z-index: -1;
}

#contentWrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 0px;
    z-index: -1;
}

#contentWrapper::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: linear-gradient(180deg, rgb(40, 142, 211), rgb(0, 114, 192));
    z-index: -1;
}

.content-wrapper {
    flex: 1;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1.2em; /* Подстраиваемся под содержимое header */
    padding-bottom: 1.2em; /* Подстраиваемся под содержимое footer */
    overflow-y: auto;
}

#content {
    padding: 1.2em;
}

.black_title{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.black_title h1{
    padding: 25px;
    color: #fff;
    font-size: clamp(20px, 1.5vw, 30px);
}

.black_title button{
    white-space: nowrap;
    background-color: black;
    height: 60px;
    font-size: clamp(15px, 0.5vw, 20px);
    color: white;
    padding: 15px 35px;
    border: solid 2px;
    border-radius: 35px;
    margin-right: 25px;
    transition: all 0.3s;
}

.black_title button:hover{
    background-color: white;
    color: black;
}

.main_footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.step_marker{
    padding-left: 25px;
    white-space: nowrap;
}

.buttons_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding-right: 25px;
}

.buttons_div button{
	height: 50px;
	width: 150px;
	margin-left: 10px;
	border: 0;
	background: rgb(0, 114, 192);
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	border-radius: 35px;
	cursor: pointer;
	transition: all 0.3s;
    margin: 2px;
}

.buttons_div button:active{
	background: rgb(40, 142, 211);
}

.text_with_img{
    width: 100%;
}

.text_with_img img{
    width: 100%;
    min-width: 500px;
}

.img_with_sgn{
    margin: 25px;
    float: left;
}

.img_with_sgn p{
    text-align: center;
    margin: 0 !important;
    margin-top: 10px !important;
}

.only_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px;
}

.only_img p{
    margin-top: 10px;
    text-indent: 0% !important;
    text-align: center;
    width: 100%;
}

.only_img img{
    width: 40%;
}

.subtitle_wrapper{
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subtitle_wrapper button{
    cursor: pointer;
    width: 60px;
    height: 60px;
    margin-right: 15px;
    border-radius: 100%;
    border: 0;
    background-color: #fff;
}

.subtitle_wrapper button img{
    width: 40px;
    height: 40px;
}

.pink_subtitle{
    font-size: clamp(25px, 1.6vw, 35px);
    font-weight: 700;
    margin-left: 15px;
    color: rgb(255, 114, 118);
}

.number_of_step{
    font-size: clamp(30px, 2.5vw, 40px);
    font-weight: 900;
    margin-left: 25px;
    margin-bottom: 25px;
}

.enabled{
    display: flex;
}

.current_step{
    font-weight: 900;
}

.span_of_discription{
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: clamp(20px, 1.2vw, 25px);
}

.popup_window{
    padding: 15px;
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    -webkit-box-shadow: 1px 5px 24px 7px rgba(0,0,0,0.35); 
    box-shadow: 1px 5px 24px 7px rgba(0,0,0,0.35);
    border-radius: 30px;
    width: 70%;
    height: 70%;
    background-color: #fff;
    top: 15%;
    left: 15%;
    color: black;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
}

.popup_window div{
    font-size: 25px;
    margin-left: 25px;
}

.popup_window div:first-child{

    margin-top: 70px;
}

.step_of_popup{
    margin-bottom: 8px;
}

#close_popup_btn{
    cursor: pointer;
    margin: 10px;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border: 0;
    background-color: #99999960;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
}

#close_popup_btn img{
    width: 35px;
    height: 35px;
}

.gray_dis{
    color: #333;
    background-color: #33333350 !important;
}

#popup_window_id::-webkit-scrollbar-track
{
    height: 50px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#popup_window_id::-webkit-scrollbar
{
    height: 50px;
	width: 0px;
	background-color: #F5F5F5;
}

#popup_window_id::-webkit-scrollbar-thumb
{
    height: 50px;
    border-radius: 5px;
	background-color: #00000030;
}

.black_sub{
    color: black;
    font-weight: 500;
}

.answers_btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.answer_form_img{
    margin-left: 25px;
    width: 35%;
}

.answer_form_img img{
    width: 100%;
}

.answer_form {
    width: 60vw;
    margin-left: 25px;
}

.answers_btn form div {
    cursor: pointer;
    display: flex;
    align-items: center;
    border: solid 0px #00000080;
    padding-top: 15px;
    padding-bottom: 15px;
    padding: 25px;
    margin: 15px;
    border-radius: 25px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.answers_btn form div p{
    margin: 0;
    margin-left: 25px;
    text-indent: initial;
    font-weight: 500;
}

.answers_btn form div input {
    cursor: pointer;
    height: 45px;
    min-width: 75px;
    max-width: 76px;
}


#dynamic-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.image_test_type_2{
    min-width: 500px;
    width: 35%;
    margin-right: clamp(25px,1.25vw,50px);
    margin-left: 25px;
}

.image_test_type_2 img{
    width: 100%;
}

.description_w_input{
    width: 65%;
    margin-left: 25px;
}

.description_w_input p{
    margin: 0;
    text-indent: 0;
}

.description_w_input span{
    font-size: 25px;
}

.description_w_input label{
    font-size: 25px;
    font-weight: 900;
    color: rgb(0, 114, 192);
    margin-right: 25px;
}

.description_w_input input{
    height: 15px;
    margin: 5px;
    padding: 15px;
    font-size: 25px;
    border-radius: 10px;
    min-width: 200px;
}


.correct {
    transition: all 0.3s;
    background-color: rgb(168, 255, 168);
}

.incorrect {
    transition: all 0.3s;
    background-color: rgb(255, 144, 144);
}

.dynamic-content{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.numbers {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.numbers > span {
    display: flex;
    height: 70px;
    width: 70px;
    display: flex;
    font-weight: 900;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    color: #fff;
    font-size: 40px;
    background-color: rgb(0, 114, 192);
    border: 0px solid slateblue;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 5px;
}

.item, .item2 {
    list-style-image: none;
    margin: 8px;
    padding: 18px;
    padding-left: 25px;
    cursor: grab;
}

ul li div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 25px;
    font-weight: 600;
    font-size: 20px;
    border: solid 0px #00000080;
    width: 650px;
    margin: 10px;
    height: 45px;
    border-radius: 12px;
}

ul li{
    transition: all 0.3s;
    padding-left: 25px;
    font-weight: 600;
    font-size: 20px;
    border: solid 0px #00000080;
    border-radius: 12px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

ul li::marker{
    font-size: 0;
}

@media (max-width: 1000px) {
    .answer_form_img{
        margin-left: 0;
        width: 90%;
    }

    .answers_btn{
        flex-direction: column;
    }
    
    .answer_form{
        width: 95vw;
        margin-left: 0px;
    }

    #footer{
        display: flex;
        flex-direction: column;
    }

    #control_button_1{
        font-size: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        margin-right: 25px;
    }
    
    #control_button_4{
        font-size: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        margin-left: 25px;
    }

    .img_with_sgn{
        margin: 0 !important;
        margin-bottom: 25px !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .img_with_sgn p{
        width: 100%;
    }

    .step_marker{
        padding-left: 0px;
        padding-bottom: 15px;
    }

    .buttons_div{
        padding-right: 0px;
        padding-top: 5px;
    }

    .text_with_img img{
        min-width: 400px;
        width: 70%;
        float: none;
    }
    
    .img_with_sgn{
        width: 100%;
    }
    
    .only_img img{
        width: 80%;
    }
}

@media (max-width: 650px) {
    footer{
        padding: 1px;
    }

    .step_marker{
        display: none;
    }

    .buttons_div button{
        height: 50px;
        width: 50px;
    }
    .text_with_img img{
        min-width: 300px !important;
        width: 70% !important;
    }
    .only_img img{
        min-width: 300px !important;
        width: 70% !important;
    }
}

